body {
  font-family: "Roboto",sans-serif;
  background-color: #ffffff;
}

.header {
  background-color: #e7e9fc;
}

.header li {
  list-style-type: none;
}

.header-logo {
  font-family: "Raleway", system-ui;
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.header-nav-menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.header-nav-menu a {
  text-decoration: none;
}

.header-nav-menu a:hover {
  color: #404bbf;
}

.header-adress {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.header-adress a:hover {
  color: #404bbf;
}

.header-adress a {
  text-decoration: none;
}

.main-section-one {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.main-section-one h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
}

.main-section-one button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.main-section-one button:hover {
  color: #404bbf;
}

.main-section-two li {
  list-style-type: none;
}

.main-section-two h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24;
  letter-spacing: 2%;
}

.main-section-two p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.main-section-ourteam {
  color: #2e2f42;
  font-weight: 700px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  align-items: center;
}

.main-section-tree li {
  list-style-type: none;
}

.main-section-ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  align-items: center;
}

.main-section-tree img {
  width: 264px;
  height: 260px;
}

.main-section-tree h2 {
  color: #2e2f42;
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  align-items: center;
}

.page-footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 1748px;
}

.page-footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", system-ui;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.page-footer p {
  color: #f4f4fd;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
