body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
/* HEADER */
.header {
  background-color: #e7e9fc;
  color: #2e2f42;
  width: 1440px;
  height: 72px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}
.studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.header-nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;
}

.header li {
  list-style-type: none;
  display: inline;
}

.header-nav-menu a {
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-menu a:hover {
  color: #404bbf;
}

.header-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  cursor: pointer;
  text-align: right;
}

.header-adress a {
  text-decoration: none;
  color: #434455;
}

.header-adress a:hover {
  color: #404bbf;
}

/* HEADER END */

/* MAIN SECTION ONE */

.main-section-one {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.main-section-one h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 3.75em;
  letter-spacing: 2%;
  text-align: center;
}

.main-section-one button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.main-section-one button:hover {
  background-color: #404bbf;
}

/* MAIN SECTION ONE END */

/* MAIN SECTION TWO  */

.main-section-two li {
  list-style-type: none;
}

.main-section-two h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.main-section-two p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

/* MAIN SECTION TWO END */

/* MAIN SECTION TREE */

.main-section-tree {
  background-color: #f4f4fd;
}

.main-section-ourteam {
  color: #2e2f42;
  font-weight: 700px;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
}

.main-section-tree li {
  list-style-type: none;
}

.main-section-tree img {
  cursor: pointer;
  width: 264px;
  height: 260px;
}

.main-section-tree img:hover {
  color: #404bbf;
}

.main-section-tree h2 {
  color: #2e2f42;
  font-weight: 500px;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  align-items: center;
}

/* MAIN SECTION TREE END */

/* OUR PORTFOLIO */

.our-portfolio {
  background-color: #e7e9fc;
}

.our-portfolio h2 {
  font-size: 36px;
  color: #2e2f42;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
}

.our-portfolio li {
  list-style-type: none;
}

.our-portfolio img {
  width: 360px;
  height: 300px;
  cursor: pointer;
}

/* OUR PORTFOLIO END */

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 1748px;
}

.page-footer a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.studio-footer {
  font-weight: 700px;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
  color: #f4f4fd;
}

.page-footer p {
  color: #f4f4fd;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

/* FOOTER END */
